@import '../../scss/mixin';
@import '../../scss/variables';

.SignIn {
  &__form {
    &--inputwrp {
      margin: 0.6em 0;
      

      @include mq(xs) {
        margin: 1em 0;
      }

      // :focus {
      //   border: 1px solid white;
      //   box-shadow: 0 0 0 1px #fff;
      // }
    }

    &--divider {
      display: inherit;
      font-family: $main-font;
      font-size: 16px;
      line-height: 3em;
      color: #B8B8B9;
      text-align: center;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 40px;
      box-shadow: none;
      border: 1px solid transparent;
      padding: 1.2em 0.8em;
      border-radius: 5px;
      font-family: $main-font;
      font-size: 13px;
      font-weight: 500;
      line-height: 0;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      // &:nth-of-type(1) {
      //   margin-top: 1.5em;

      //   @include mq(xs) {
      //     margin-top: 2em;
      //   }
      // }

      @include mq(xs) {
        min-height: 50px;
        font-size: 15px;
      }

      svg {
        font-size: 1.5em;
        margin-right: 0.4em;
      }

      &.button {
        &__submit {
          background-color: $red;
          color: $white;

          &:hover {
            background-color: darken($color: $red, $amount: 8);
            transform: scale(0.95);
          }
        }

        &__google {
          background-color: $google-butt;
          color: $white;
          border: 1px solid $black;

          &:hover {
            background-color: darken($color: $google-butt, $amount: 8);
            color: $white;
            transform: scale(0.95);
          }
        }

        &__anonymous {
          background-color: transparent;
          color: darken($white, 10%);
          border: 1px solid darken($white, 10%);

          &:hover {
            color: $red;
            border: 1px solid $red;
            transform: scale(0.95);
          }
        }
      }

      &.loading {
        background-color: #333;
        border: 1px solid $white;
        cursor: progress;
        &:hover {
          background-color: #333;
          transform: none;
        }
      }

    }

    &--toggleView {
      display: inherit;
      font-family: $main-font;
      font-size: 13px;
      line-height: 1.4;
      color: #B8B8B9;
      // text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      .toggler {
          display: inline-block;
          color: $white;
          font-weight: bold;
          font-size: 13px;
          line-height: 1.4;
          cursor: pointer;
          transition: all 0.2s ease-out;

          &:hover {
              color: darken($red, 5);
              transform: scale(0.95);
              text-decoration: underline;
          }

          @include mq(md) {
              font-size: 16px;
          }
      }

      @include mq(md) {
          font-size: 16px;
      }
    }
  }
}